/* general styles */
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    
}

/* main styles */
.main__wrapper{
    min-height: 400px;
    padding: 50px 0;
}

/* interlayer */
.interlayer{
    height: 300px;
    background-color: #e2e2e2;
    font-size: 36px;
    font-weight: 500;
  
}

.interlayer2{
    min-height: 300px;
    background-color: #e2e2e2;
    font-size: 24px;
    font-weight: 500;
    margin: -30px 0 30px 0 ;
    padding-bottom: 30px;
  
}

.text-team{
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 10px;
}


/* map styles */
#cabinet{
    fill: rgba(0, 0, 0, 0);
    opacity: 1;
    stroke: none;
    transition:  fill .3s;
}

#cabinet:hover{
    fill: rgba(0, 0, 0, 0.2);
}

/* check cabinets */
#cabinetCheck{
    fill: chartreuse;
    opacity: 1;
}

/* btn control */
.btn-control{
    margin: 10px 0px 20px 0px;
    width: 260px;
    height: 50px;
    border: 1px black solid;
    border-radius: 1px;
    background: rgba(0, 0, 0, 0.1);
    color: black;
    transition: all .3s;
}

.btn-control:hover{
    border: 1px black solid;
}

.btn-control:focus{
    font-weight: bold;
    border: 1px black solid;
    border-radius: 1px;
  
    color: white;
  
}



.btn-b{
    border: 1px solid black;
}

.main__content{
    position: relative;
    
}

.hideFloor{
    opacity: 1;
    animation: hideAnim 10s;
}

@keyframes hideAnim {
    from{opacity: 1;}
    to{opacity: 0;}
}

.showFloor{
    opacity: 0;
    animation: showAnim 2s;
}

@keyframes showAnim {
    from{opacity: 0;}
    to{opacity: 1;}
}

/* footer */
a{
    text-decoration: none;
}

footer a {
    
    background-image: linear-gradient(#EE5E4F 50%, #EE5E4F 50%), linear-gradient(silver 50%, silver 50%);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 0 .063em, 100% .063em;
    color: #000000;
    padding-bottom: .188em;
    transition: background-size .5s, color .3s;
}

footer a:hover{
    background-size: 100% .063em, 100% .063em;
    background-position: left bottom;
    text-decoration: none;
    color:rgba(0, 0, 0, 0.708);

}

.btn-map a, .btn-team a {
    transition: all .3s;
}


.modal-content{
    border: none;
    border-radius: 10px;
}

.modal-img img{
    border-radius: 5px;
}

.preloader{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #e2e2e2;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
   transition: 0.3s;
   z-index: 10;
  }
  
  .done{
    opacity: 0;
    visibility: hidden;
  }
  
  
  .preloaderContent {
    margin: auto;
    width: 75px;
    height: 75px;
    border:2px solid rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    border-left-color:#000000;
    animation: loader 1.3s linear infinite;
   }
   @keyframes loader {
    100% {
     transform: rotate(360deg);
    }
} 

.card{
    min-height: 18rem;
    border:  1px solid rgba(0, 0, 0, 0.364);
    border-radius: 10px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.4);
}

.card-header{
    font-weight: 600;
}

